<% if current_user.admin %>
  <p id="notice"><%= notice %></p>
  </br>
  <h1><b>List of Offices</b></h1>
  <%= link_to '<i class="fa fa-plus"></i> New Office'.html_safe, new_office_path, :class => "pull-right" %>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @offices.each do |office| %>
        <tr>
          <td><%= office.name %></td>
          <td style="text-align: right;">
             <%= link_to 'Edit', edit_office_path(office) %> | <%= link_to 'Destroy', office, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= render 'shared/unauthorized' %>
<% end %>

