<p id="notice"><%= notice %></p>

<p>
  <strong>Attachment:</strong>
  <%= @attachment.attachment %>
</p>

<p>
  <strong>Document:</strong>
  <%= @attachment.document %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
