<%= simple_form_for(@document, :html => { :multipart => true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :control, label: "Control ID:", input_html: {value: f.object.control || "[OVPD" + DateTime.now.strftime("%Y]") + "-" + SecureRandom.hex(3) } %>
    <%= f.input :office, label: "Originating/Receiving Office:", collection: Office.all, label_method: :name, include_blank: false %>
    <div class="row">
      <div class="col-md-6"> <%= f.input :date, label: "Date Received/Sent:", as: :date_picker, placeholder: "DD/MM/YYYY" %> </div>
      <div class="col-md-6"> <%= f.input :letter_date, label: "Date of Letter:", as: :date_picker, placeholder: "DD/MM/YYYY" %> </div>
    </div>
    <%= f.input :received_by, label: "Received By:" %>
    <%= f.input :subject, label: "Subject:" %>
    <div class="row">
      <div class="col-md-6"> <%= f.input :action_subject, label: "Action Required From:" %> </div>
      <div class="col-md-6"> <%= f.input :action_done, label: "Action Required to be Done:" %> </div>
    </div>
    <%= f.input :gdrive_link, label: "Google Drive Link:" %>
    <%= f.input :remarks, label: "Remarks:" %>
   

    <div class="row">
      <div class="col-md-6">  <%= f.input :outgoing, label: "Status:", collection: [[false, "Ingoing"], [true, "Outgoing"]], label_method: :last, value_method: :first, as: :radio_buttons %> </div>
      <div class="col-md-6">  <%= f.input :archival, label: "Archival Status:", collection: [[true, "Active"], [false, "For Archival"]], label_method: :last, value_method: :first, as: :radio_buttons %> </div>
    </div>

    <b>Attachments: </b><br>
    <%= file_field_tag "attachments[]", type: :file, multiple: true %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success pull-right" %>
  </div>
<% end %>
