<p id="notice"><%= notice %></p>

<p>
  <strong>Control:</strong>
  <%= @document.control %>
</p>

<p>
  <strong>Office:</strong>
  <%= @document.office_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @document.date.strftime("%d %B %Y") %>
</p>

<p>
  <strong>Received by:</strong>
  <%= @document.received_by %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @document.subject %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
